* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: white;
}

html, body {
    height: 100%;
}

.contact {
    font-size: 0.7em;
}

section div {
    flex-grow: 1;
}

body {
    background-image: url("../img/blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.title h1 {
    margin-bottom: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title h1 {
    font-size: 1.5em;
}

.title h3 {
    font-size: 0.9em;
}

.img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

img {
    width:70%;
    border: 1.6px solid darkgray;
    border-radius: 100%;
}

a {
    margin: 3px;
}

a:visited {
    color: black;
}